* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #2c1f43, #ACB6E5);
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background: rgba(255, 255, 255, 0.18);
    padding: 25px;
    border-radius: 15px;
    width: 420px;
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

input[type="text"] {
    width: 70%;
    padding: 12px;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 15px;
    outline: none;
    backdrop-filter: blur(4px);
}

input::placeholder {
    color: #eaeaea;
}

button {
    width: 25%;
    padding: 12px;
    background: #4c4cff;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease;
}

button:hover {
    background: #2323ff;
    transform: translateY(-2px);
}

#weather-info {
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
}

.hidden {
    display: none;
}

#error-message {
    color: #ff3b30;
    margin-top: 18px;
    font-size: 15px;
    font-weight: 600;
}
